nav {
  background-color: darkcyan;
  color: white;
  padding: 0 2%;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav a {
	text-decoration: none;
  color: white;
}

.form_label {
  color: grey;
  font-family: arial;
  font-size: 0.75em;
}

.form_answer {
  font-size: 1.25em;
}
