<h3>GodsLaw Hypos</h3>
<div class="hypolist">
  <% @hypos.each do |h| %>

    <p>
    	<a href=hypos/<%= h.id %> >
    		<%= h.title %>:  <%= h.sponsor_name %><br> [<%= h.vote_count %>]
    	</a>
    </p>

  <% end %>
<div>
